* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

main {
    text-align: center;
    background-color: white;
    padding: 1rem;
    /* height: 500px; */
    max-width: 300px;
    /* margin: auto; */
    /* margin-top: 6.5rem; */
    border-radius: 5%;
}

h1 {
    margin: 1rem 1rem 0 1rem;
    font-size: 1rem;
}


img {
    /* width: 18.5rem;
    height: 18.5rem; */
    max-width: 100%;
    border-radius: 5%;
}

.info {
    line-height: 1.2;
    padding: 0px 13px 0;
    margin: 1rem;
    font-size: 1rem;
}

.attribution p {
    font-size: 11px;
    text-align: center;
    /* margin: 9% 0 0 0; */
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
